---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import profileImage from "../images/profile.jpeg";

const experiences = await getCollection("experience");

const formatExperienceDate = (date: Date) => {
  const format = new Intl.DateTimeFormat(undefined, {
    year: "numeric",
    month: "short",
  });
  return format.format(date);
};
---

<Layout title="Long Kim Hoang">
  <main class="container mx-auto max-w-3xl mb-8 px-4 lg:px-0">
    <section id="about" class="mb-8">
      <div
        id="about-headline"
        class="flex flex-col-reverse md:flex-row gap-2 justify-between my-4"
      >
        <div>
          <h1 class="text-4xl font-semibold">Long Kim Hoang</h1>
          <h2 class="text-xl">iOS Engineer</h2>
        </div>
        <Image
          src={profileImage}
          densities={[1, 2, 3]}
          alt="Profile"
          width={64}
          height={64}
          loading="eager"
          class="w-16 h-16 rounded-full object-top object-cover border dark:border-0"
        />
      </div>
      <p class="mt-2">
        An iOS engineer with 4 years of experience. I have a proven track record
        working on innovative, stable and high-performance enterprise-grade iOS
        applications in the instant messaging and banking domains. I value both
        good communication and technical skills, and is able to work in
        multi-national professional and agile teams, delivering meaningful user
        experiences.
      </p>
    </section>
    <section id="experience">
      <h1 class="text-2xl font-semibold">Experience</h1>
      <ul>
        {
          experiences
            .toSorted((a, b) => a.data.sortOrder - b.data.sortOrder)
            .map(({ data }) => (
              <li class="my-6">
                <h2 class="flex item items-center gap-4 mb-2">
                  <Image
                    width={48}
                    height={48}
                    densities={[1, 2, 3]}
                    src={data.logo}
                    alt=""
                    loading="eager"
                    class="w-12 h-12 p-1 dark:bg-white object-contain"
                  />
                  <a
                    href={data.companyUrl}
                    class="text-xl font-semibold hover:underline flex gap-2 items-center"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {data.company}
                    <span aria-label=", opens in a new tab"></span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="size-5 text-black dark:text-white"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z"
                        clip-rule="evenodd"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </h2>
                {data.positions.map((position) => (
                  <ul class="list-disc list-inside mb-4 last:mb-0">
                    <li class="list-none">
                      <div class="mb-1">
                        <h3 class="text-lg font-medium">{position.title}</h3>
                        <p class="text-sm font-medium text-gray-500 dark:text-slate-400">
                          {formatExperienceDate(position.fromDate)} -{" "}
                          {position.toDate
                            ? formatExperienceDate(position.toDate)
                            : "Present"}
                        </p>
                      </div>
                    </li>
                    {position.content.map((content) => (
                      <li>{content}</li>
                    ))}
                  </ul>
                ))}
              </li>
            ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  @media (min-width: 768px) {
    #about-headline {
      align-items: last baseline;
    }
  }
</style>
