---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const experiences = await getCollection("experience");
---

<Layout title="Long Kim Hoang">
  <main class="container mx-auto max-w-3xl">
    <section id="about" class="mb-8">
      <h1 class="text-4xl font-semibold">Long Kim Hoang</h1>
      <h2 class="text-xl">iOS Engineer</h2>
      <p class="mt-2">
        An iOS engineer with 4 years of experience. I have a proven track record
        working on innovative, stable and high-performance enterprise-grade iOS
        applications in the instant messaging and banking domains. I value both
        good communication and technical skills, and is able to work in
        multi-national professional and agile teams, delivering meaningful user
        experiences.
      </p>
    </section>
    <section id="experience">
      <h1 class="text-2xl font-semibold">Experience</h1>
      <ul>
        {
          experiences
            .toSorted((a, b) => a.data.sortOrder - b.data.sortOrder)
            .map(({ data }) => (
              <li class="my-6">
                <div class="flex item items-center gap-4 mb-1">
                  <Image
                    width={48}
                    height={48}
                    densities={[1, 2, 3]}
                    src={data.logo}
                    alt={`Logo of ${data.company}`}
                    loading="eager"
                    class="w-12 h-12 object-contain"
                  />
                  <h2 class="text-xl font-semibold">{data.company}</h2>
                </div>
                {data.positions.map((position) => (
                  <ul class="list-disc list-inside mb-4 last:mb-0">
                    <li class="list-none">
                      <h3 class="text-lg font-medium">{position.title}</h3>
                    </li>
                    {position.content.map((content) => (
                      <li>{content}</li>
                    ))}
                  </ul>
                ))}
              </li>
            ))
        }
      </ul>
    </section>
  </main>
</Layout>
